body{
    background-color: rgb(236, 233, 233);
}

.product-page{
    height: 689px;
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
    gap: 50px;
}

.image{
    margin-top: 2%;
    margin-left: 2%;
    width: 400px;
    border-radius: 15px;
    border: 2px solid black;
}

.product-details{
    margin-top: 20px;
    padding: 10px;
}
.product-description{
    margin-top: 30px;
    margin-left: 30PX;
    width: 700px;
    font-size: 20px;
}

.product-price{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 40px;    
}
